### Type Casting

int to float
float to int
str to float
string to int


---> Cannot convert a 'string' into a float or int type. there should be a an actual integer and floating value to convert to int or float type 
eg; a= '11.4' can be converted only into float
    b= '19' can be converted only into int type

In [19]:
a= 10
print (type(a))
print (float(a))
b= 11.36
print (type(b))
print(int(b))
print(type(str(b)))

c ='abc'
print(type(c))
d='11.4'
print (type(d))
print(float(d))

x= True
print( str(x), type(x))

<class 'int'>
10.0
<class 'float'>
11
<class 'str'>
<class 'str'>
<class 'str'>
11.4
True <class 'bool'>

### input and output fnction

input = used to take values dynamically
the output will always be a str type

In [31]:
name = input('Enter your name: ')
print(type(name))
age = int(input('Enter your age: '))
print(type(age))

Enter your name:  harry

<class 'str'>

Enter your age:  33

<class 'int'>

In [30]:
# eval funct will automatically converts to its type
x= eval(input('type something: '))
print(type(x))

type something:  410.3

<class 'float'>

\n -- new line
\t -- tab
shift + tab after the comma in a print statment will give docstring descriptions (jupyter specific only)

In [38]:
a = 10
b='string'

print (a, end = ')')
print(b)
print (a, b, sep ='')

10)string
10string

In [44]:
# string format dynamically adding the values in print

a= 889
b='harish'

print(f'My CIBIL socre is {a} and name is {b}')
#method 2
print('My CIBIL socre is {} and name is {}'.format(a, b))

My CIBIL socre is 889 and name is harish
My CIBIL socre is 889 and name is harish

### Operation possible with float data type
-arithmatic 
-comparison
-equality
-identity
-assignment

### operation not possible float type
bitwise op

### Complex data type
anything that can be represented in the form of a+bj a= real bj = imaginary

### none data type

to represent null values
eg: in a table some of the values is not present then none will be used

### Boolean data type

True = 1
Flase = 0
None = 0

In [51]:
print ( True+ True)
print (True + False)
print (True*False)

2
1
0

### String data type

anything with in 'something', "something", '''something''', """"something"""-

to accomodate an apostrophe "python's" is used

if there is quotation mark then this is used ''' something in 'quotation' representation'''

for multiple line statement then """"""" is used

### String Properties

- String is sequence
- it allows +ve and -ve indexing: 
-      first character is always '0' and is called +ve indexing
-      it can be be -ve starting with the last character of a string being -1